# Aliases
#========================

# I can't spell for shit

alias sl=ls
alias mdkir=mkdir
alias soruce=source
alias souce=source
alias brwe=brew

# Just for fun

alias fucking=sudo

# Shortcuts

alias v=vagrant
alias g=git
alias d='cd ~/Documents/Dropbox'
alias dl='cd ~/Downloads'
alias dt='cd ~/Desktop'
alias p='cd ~/Projects'
alias h=history
alias c=clear

# Git Shortcuts

#alias gpom='git push origin master'
#alias gpod='git push origin development'
#alias grom='git reset --hard origin/master'
alias gs='git status'
alias gp='git pull'
alias ga='git add'
alias gaa='git add .'
alias gc='git commit -m'

# Homestead VM shortcuts

alias vme='subl ~/.homestead/Homestead.yaml'
alias vm='cd ~/Projects/homestead7; vagrant ssh'
alias vmu='cd ~/Projects/homestead7; vagrant up'
alias vmh='cd ~/Projects/homestead7; vagrant halt'
alias vmp='cd ~/Projects/homestead7; vagrant provision'
alias vmup='cd ~/Projects/homestead7; vagrant up --provision'
alias vms='cd ~/Projects/homestead7; vagrant status'
alias art='php artisan'
alias mou='open /Applications/Mou.app'

# Easier navigation: .., ..., ...., ....., .4, .5, ~ and -

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias .4='cd ../../../../'
alias .5='cd ../../../../..'
alias ~='cd ~' # `cd` is probably faster to type though
alias -- -='cd -'

# Other stuff

alias hosts='subl /etc/hosts'
alias ping='ping -c 5'